node_modules/
dist/
data/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.env
.env.local
.env.production
.DS_Store
/notifications-demo.mp4

# Expo
.expo/
apps/expo/ios/
apps/expo/android/
apps/expo/credentials.json
expo-env.d.ts
apps/macos/build/
apps/macos/**/*.xcuserdata/
